{% extends 'base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>
{% block content %}
    <div class="row">
        {% if message %}
            <div class="alert alert-info">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
    </div>
    <div class="row">
    <card class="col-4 border"style="margin-top: 10px;margin-left: 10px" >
        <div class="card-header">
            <img src="{% static 'markito/img/digikala.png' %}" alt="digikala" class="center" style="height: 255px;width: 255px">
        </div>
        <div class="card-body">
    <form role="form" id="channel_form" class="frm">
                            <div class="form-group">
                                <label for="token"><span class="glyphicon glyphicon-pencil"></span>enter token:</label>
                                <input type="text" class="form-control" id="token" name="token" placeholder="enter token"
                                       required="true">
                            </div>


                            <input type="hidden" id="type" name="type" value="">
                            <input type="submit">
{#                            <button type="submit" class="btn btn-success btn-block" id="submit"><span#}
{#                                    class="glyphicon glyphicon-ok"></span> OK#}
{#                            </button>#}
                        </form>
        </div>
    </card>
    </div>
</body>
{% endblock %}
{% block scripts %}
<script src="{% static 'markito/js/add_channel.js' %}"></script>
{% endblock %}
</html>