{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

</head>
<body>
<div class="container-fluid mt-4">
    <div class="center"><img src="{% static 'markito/img/download.png' %}" alt="markito" style="margin-left: 700px">
    </div>
    <table id="mytable" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">image</th>
            <th scope="col">name</th>
            <th scope="col">category</th>
            <th scope="col">buy price</th>
            <th scope="col">sell price</th>
            <th scope="col">count</th>
            <th scope="col">extra costs</th>
            <th scope="col">status</th>
            <th scope="col" name="id">id</th>
            <th scope="col">action</th>
        </tr>
        </thead>
    </table>
</div>


<!-- The Modal -->
<div class="modal" id="editmodal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="modal_title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form role="form" >
                    <div class="form-group">
                        <label for="name"><span class="glyphicon glyphicon-pencil"></span> name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name"
                               required="true">
                    </div>
                    <div class="form-group">
                        <label for="category"><span class="glyphicon glyphicon-file"></span> category</label>
                        <input type="text" class="form-control" id="category" name="category"
                               placeholder="Enter category" required="true">
                    </div>
                    <div class="form-group">
                        <label for="buy_price"><span class="glyphicon glyphicon-file"></span>buy price</label>
                        <input type="text" class="form-control" id="buy_pice" name="buy_price"
                               placeholder="Enter buy_price" required="true">
                    </div>
                    <div class="form-group">
                        <label for="sell_price"><span class="glyphicon glyphicon-file"></span>sell price</label>
                        <input type="text" class="form-control" id="sell_price" name="sell_price"
                               placeholder="Enter sell price" required="true">
                    </div>
                    <div class="form-group">
                        <label for="side_costs"><span class="glyphicon glyphicon-file"></span> extra cost</label>
                        <input type="text" class="form-control" id="side_costs" name="side_costs"
                               placeholder="Enter count" required="true">
                    </div>
                    <div class="form-group">
                        <label for="count"><span class="glyphicon glyphicon-file" ></span> count</label>
                        <input type="text" class="form-control" id="count" name="count"
                               placeholder="Enter count" required="true">
                    </div>
                    <div class="form-group">
                        <label for="is_active"><span class="glyphicon glyphicon-file"></span>status</label>
                        <select name="is_active" id="is_active">
                            <option value="True">true</option>
                            <option value="False">false</option>
                        </select>
                    </div>
                    <input type="hidden" id="type" name="type" value="">
                    <button type="submit" class="btn btn-success btn-block"><span
                            class="glyphicon glyphicon-ok"></span> OK
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- -------------------------------------------------------------------------------------------- -->


<div class="modal" id="deletemodal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete" >Delete</button>
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
            </div>

        </div>
    </div>
</div>


<!-- -------------------------------------------------------------------------------------------- -->

<script src="{% static 'markito/js/products.js' %}"></script>

</body>
</html>