<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	</head>
	<body>
		<h1>Items</h1>
		<hr>
		<table id="items-table">
			<thead>
				<tr>
					<th>image</th>
					<th>name</th>
					<th>count</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

		<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<script language="javascript">
			$(document).ready(function () {
				$('#items-table').dataTable({
					serverSide: true,
					sAjaxSource: "/data/",  // new url
                                        columns: [
                                            {name: "image", data: 0},
                                            {name: "code", data: 1},
                                            {name: "count", data: 2},
                                        ],
				});
			});
		</script>
	</body>
</html>