{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <table class="table" style="margin-top: 30px">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">store name</th>
                <th scope="col">image</th>
                <th scope="col">name</th>
                <th scope="col">count</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{ product.store }}</td>
                    <td>{{ product.image.url }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.count }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>


    </div>
{% endblock %}
{% block scripts %}{% endblock %}